/* You can add global styles to this file, and also import other style files */
@import "sass/variables";

// global
.nameofbox {
    background-color: $btn-default-color;
    width: 120px !important;
    font-size: 1.05em;
    margin-left: -15px;
    margin-top: 10px;
    font-weight: 700;
    font-style: oblique;
    color: white;
    box-shadow: 3px 3px #D3D3D4;
    text-align: center;
}

// app.component
#AppCompoTopBar {    
    vertical-align: middle;
    > div {
        margin-top: 15px;
    }    
    > div > div > div 
    {
        color: $btn-default-color;
        margin-left: 10px;
        font-weight: 700;
    }
    div:nth-child(3) > fa-icon {
        color: $btn-default-color;
        font-size: 1.1em;
    }
}

#AppCompoNavBar {     
    > div button {
        font-weight: 500 !important;
        color: $btn-default-color;
        margin-left: 10px;
    }
    div:nth-child(2) {
        vertical-align: middle !important;
        color: $btn-default-color !important;
        font-weight: 500;
    }    
}

#IoipayBox {
    width: 80%;
    min-height: 100px;
    border: 1.5px solid $btn-default-color;
    margin-left: 10%;
    margin-top: 20px;    
}

