<!--The content below is only a placeholder and can be replaced.-->
<div class="row">
    <div id="AppCompoTopBar" class="container-fluid">
        <div class="row">
            <div class="col">
                <div>IOIPay ACH | Tax Report</div>
            </div>
            <div class="col"></div>
            <div class="col text-right">                    
                <fa-icon [icon]="faUserCircle"></fa-icon>&nbsp;<span><a href="#">joe@ioipay.com</a></span>&nbsp;&nbsp;
            </div>
        </div>
        <hr class="col-xs-12">        
    </div>
    <div id="AppCompoNavBar" class="row container-fluid">
        <div class="col col-sm-8 col-md-4">
            <button type="button" class="btn btn-light"><span><fa-icon [icon]="faTachometerAlt"></fa-icon></span> Dashboard</button>&nbsp;&nbsp;<button type="button" class="btn btn-light"><span><fa-icon [icon]="faMoneyBillAlt"></fa-icon></span> Company Taxes</button>
        </div>
        <div class="col col-sm-4 col-md-8 text-right">
            <fa-icon [icon]="faCalendarDay"></fa-icon> Aug 13, 2019
        </div>
    </div>
    <div id="IoipayBox">                
        <div class="row container-fluid">
            <div class="nameofbox">
                <span class="label label-default">Name: IOI</span>
            </div>                                                
        </div>        
    </div>
    <div id="ClientListBox">
        <div class="row container-fluid">
            <div class="col col-md-2 col-sm-2 ListItem"></div>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>
